.bg-navy {
    background-color: #080325;
}

.container-blur {
    background-color: rgba(255, 255, 255, 0.1);
}

.parallelogram {
    height: 200px;
    width: 350px;
    transform: skew(-10deg);
}

.transform p {
    transform: skew(10deg) !important;
}

.transform i {
    transform: skew(10deg) !important;
}

.transform h4 {
    transform: skew(10deg) !important;
}

.fourth-bg-img {
    background-image: url(../images/bg2.jpg);
    height: 90vh;
    }

