body {
    font-family: Lato, sans-serif;
}

.bg-navy {
    background-color: #080325;
}

.first-section {
    height: 100vh;
    background: linear-gradient( rgba(40, 14, 124, 0.5), rgba(40, 14, 124, 0.5)), url(../images/bg1.jpg);
    background-size: cover;
    color: #fff;
}

.navbar {
    height: 5rem;
}

header {
    width: 100%;
    background: rgba(8, 3, 37, .4)
}

.navbar-brand img {
    height: 2rem;
    width: auto;
}

.navbar li a, .navbar i {
    color: #fff;
}

.navbar .dropdown-menu {
    background: rgba(8, 3, 37, .4);
}

.vh-85 {
    height: 85vh;
}

.first-section .row .btn-demo {
    color: #fff;
    border:
}

.btn-demo {
    background: #D92B4C;
    border: none;
    padding: 10px;
}

.btn-purchase {
    border: 2px solid #fff;
    padding: 10px;
    background: transparent;
    color: #fff;
}

.login-form-width {
    width: 250px;
}

.container-blur {
    background-color: rgba(255, 255, 255, 0.1);
}

.parallelogram {
    height: 200px;
    width: 350px;
    transform: skew(-10deg);
}

.transform {
    transform: skew(10deg) !important;
}

.fourth {
    background: linear-gradient( rgba(40, 14, 124, 0.5), rgba(40, 14, 124, 0.5)), url(../images/bg2.jpg);
    height: 100vh;
    background-size: cover;
}

.card-img {
    width: 370px;
}

.sixth-section {
    height: 100vh;
    background: linear-gradient( rgba(40, 14, 124, 0.5), rgba(40, 14, 124, 0.5)), url(../images/bg3.jpg);
    background-size: cover;
    color: #fff;
}

.seventh {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg4.jpg);
    height: 65vh;
    background-size: cover;
}

.transform-back {
    transform: skew(-10deg) !important;
}

.transform-forward {
    transform: skew(10deg) !important;
}


.icon-container {
    padding: 30px 0;
    background-color: rgba(8, 3, 37, .4);
    transform: skew(-10deg) !important;
}

footer {
    height: 5rem;
    background: rgba(8, 3, 37, 0.4);
    width: 100%;
}